<!-- topup.html -->

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="top_up.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
    <title>Top Up Page</title>

</head>
<body>
    <h1>Top Up Form</h1>
    <div id="chanels">
      <!--show payment chanel-->
    </div>

    <div class="top_up-container">
      <p>
        money : <input style="margin-left: 10px;" id="search_by_name" type="text"> baht
      </p>
      <button onclick="search_by_name()">Top up</button>
        
    </div>


    <script>
      window.onload = function() {
         get_chanels()
      };
  </script>
   
    
    
</body>
</html>
