<!-- topup.html -->

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="top_up.css">
    
    <title>Top Up Page</title>
</head>
<body>

    <div class="top_up-content">
        <h1>เติมเงินนนน</h1>
    <!--ช่องกรอกเงิน-->
        <div class="money-container">
            <p>จำนวน : <input id="search_by_name" type="text" placeholder=" "> บาท</p>
                
        </div>

    <!--ช่องกรอกid-->
        <div class="id-container">
            <p>id : <input id="search_by_name" type="text" placeholder=" "> </p>
        </div>
        
    <!--ช่องกรอกช่องทาง-->
        <div class="chanel-container">
            <p>ช่องทาง: <input id="search_by_name" type="text" placeholder=" "> </p>
        
        </div>
    <!--ปุ่มเติมเงิน-->
        <button onclick="search_by_name()">เติม coin</button>
        

    </div>
</body>
</html>
